Website_monitoring_workflow.json
{
  "name": "Website Monitoring System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        -48
      ],
      "id": "f0660a87-2382-4cbc-b29b-3018acc9183a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://tanzeela-atta.github.io",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -464,
        -48
      ],
      "id": "bfb76f7e-f56b-452d-954c-9927f4c0ddb7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b427ba20-ac9b-4ef8-bf01-3904fe4ca1c1",
              "leftValue": "={{ $('HTTP Request').item.json.statusCode }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        -48
      ],
      "id": "d15fc3b1-ad35-4b28-a3f9-2f84f4698f8e",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e02ab797-d267-480c-8ecd-c8170553c2cf",
              "name": "status",
              "value": "website up",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -160
      ],
      "id": "b8539901-fd90-43da-8c33-53bd7fcf34c9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57a8a90c-8b80-4232-b6db-01115523930b",
              "name": "status",
              "value": "website down",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        0
      ],
      "id": "969f9e30-2e46-4f73-b2ec-1632c58553ee",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sendTo": "m.umerfarooq525@gmail.com",
        "subject": "🚨 Website Down Alert!",
        "message": "Aapki website https://tanzeela-atta.github.io down ho gayi hai! Turant check karein!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        96,
        0
      ],
      "id": "9b5d3e6c-56fc-4a49-b566-ffdfc919f620",
      "name": "Send a message",
      "webhookId": "4ea4c33f-3eb6-45a1-8e46-0a73882d4aeb",
      "credentials": {
        "gmailOAuth2": {
          "id": "n2furrPsVZ3PhoMd",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "80e79769-f411-492e-983e-982e02a1fd68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4eeeb7deb2cab3bd04896aaa061dca410860759b09a9578f677e10bdd54f259d"
  },
  "id": "dK7FQDwdzO0quSdX",
  "tags": []
}
